
@{
    Layout = null;
}

Merhaba MVC Projesi

<h1>Merhaba</h1>
<h2>Selam</h2>
<h3>Günaydın</h3>
<h4>Nasılsın</h4>

<div style="background-color:chocolate">Burası 1.divdir</div>
<br />
<div style="background-color:lawngreen">Burası 2.divdir</div>
<br />
<div style="background-color:fuchsia">Burası 3.divdir</div>

<br />
<a href="/Default/Index2/">Index2 Sayfası</a>