
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div> 
        <h2>Burası bir Layout Alanıdır</h2>
        @RenderBody()
    </div>
</body>
</html>
